/* Reset dan font */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  display: flex;
  height: 100vh;
  background-color: #f4f4f4;
}

.container {
  display: flex;
  width: 100%;
}

/* Bagian kiri */
.left-box {
  width: 50%;
  background-color: #9361f9;
  color: white;
  padding: 80px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left-box .logo {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 40px;
}

.left-box h1 {
  font-size: 48px;
  line-height: 1.2;
  margin-bottom: 20px;
}

.left-box p {
  font-size: 16px;
  color: #dcdcdc;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  background: #eb1616;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background: #ff1717;
}

.login-link {
  margin-top: 15px;
  font-size: 14px;
  text-align: center;
  color: white;
}

.login-link a {
  color: #2f5bea;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}

.checkbox {
  color: white;
}

/* Responsive */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .left-box,
  .right-box {
    width: 100%;
    height: 50%;
  }

  .left-box {
    align-items: center;
    text-align: center;
  }

  form {
    width: 90%;
  }
}
